
.loader {
  display: block;
  width: 80px;
  height: 80px;
  margin: auto;
}
.loader:after {
  content: ' ';
  display: block;
  width: 50px;
  height: 50px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #b6ca43;
  border-color: #b6ca43 transparent #b6ca43 transparent;
  animation: loader 1.2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
